@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  transition: .5s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(244 244 245);
  color: black;
  font-family: 'Radio Canada', 'Roboto', sans-serif;
}

section {
  padding: 1rem;
  min-height: 100vh;
  overflow-x: hidden;
}





/* Dashboard styling */
section#dashboard {
  padding-top: 4rem;
  /* height: 90dvh !important; */
}

section#dashboard .content {
  min-height: 96vh;
}

section#dashboard .menu li {
  overflow: hidden;
  font-size: 1.2rem;
  transition: .1s !important;
  border-radius: 8px 0 0 8px !important;
}

section#dashboard .menu li.active {
  color: orange;
  background-color: #f4f4f5;
  font-weight: bolder;
}

section#dashboard .menu li a {
  background: none;
  border-radius: none;
  padding: .8rem !important;
}

section#dashboard .menu li.active a {
  color: orange;
}

section#dashboard .menu li:hover {
  color: orange;
  background-color: #f4f4f5c3;
  font-weight: bolder;
}

/* common styling */

.h-vh {
  /* height: 100vh; */
  min-height: 100vh !important;
}